.about {
	position: relative;

	&__container {
		position: relative;

		@include above (sm) {
			padding-bottom: 29.2rem;
		}
	}

	&__img {
		background: no-repeat center center;
		background-size: cover;
		min-height: 30rem;

		@include above (sm) {
			min-height: 57rem;
			background-attachment: fixed; 
		}
	}

	&__text {
		bottom: 0rem;
		z-index: 10;
		padding: 3rem 1.5rem; 

		@include above (sm) {
			padding: 8rem 1rem;
			position: absolute;

			&:after {
				content: '';
				position: absolute;
				right: 100%;
				height: 100%;
				width: 100vh;
				top: 0;
			}
		}
	}

	&__title {
		margin-top: 0;
	}

	&__btn {
		margin-top: 1.5rem;
	}

	.bg--grey-dark {
		
		&:after {
			background: $grey-dark;
		}
	}
}