.blog {

	&__post {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		display: flex;
		flex-direction: column;

		@include above (sm) {
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
	}

	&__thumb {
		min-height: 30rem;
		background: no-repeat center center $grey-dark;
		background-size: cover;

		@include above (lg) {
			min-height: 35rem;
		}
	}

	&__wrap {
		background: $grey;
		padding: 3rem 1.5rem;
		padding-bottom: 6rem;
		display: flex;
		flex-direction: column;
		flex: 1;
		position: relative;

		@include above (sm) {
			padding: 3rem;
			padding-bottom: 6rem;
		}
	}

	&__excerpt {
		opacity: .5;
		color: $color-body;
	}

	&__btn {
		position: absolute;
		bottom: 3rem;
	}
}
