.btn {
	display: inline-block;
	position: relative;
	font-weight: 700;

	&--gradient {
		padding: 1.5rem 6.5rem; 
		background-image: $gradient;
		background-size: 100%;
		color: $white;
		z-index: 100;
		@include border-radius();

		&:before {
	        background-image: $gradient-reset;
	        content: '';
	        display: block;
	        height: 100%;
	        position: absolute;
	        top: 0; left: 0;
	        opacity: 0;
	        width: 100%;
	        z-index: -100;
	        transition: opacity .6s;
		}

		&:hover {
			cursor: pointer !important;

			&:before {
            	opacity: 1;
        	}
		}
	}

	&--readmore {
		padding-left: 4rem;
		display: flex;
		align-items: center;
		color: $color-body;

		i {
			position: relative;

			&:after {
				content: '';
				background: $red;
				position: absolute;
				width: 2rem;
				height: .3rem;
				left: -4rem;
				transition: all ease .3s;
			}
		}
	}
}