.contact {

	&__text {

		a:not(.contact__icon) {
			color: $red;
		}
	}

	&__text, &__form {
		width: 100%;

		@include above (sm) {
			width: 50%;
		}
	}

	&__form {

		@include below (sm) {
			padding-top: 3rem;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__icon {
		color: $red;

		i {
			line-height: 2.8;
			border-radius: 50%;
			width: 4.8rem;
			height: 4.8rem;
			text-align: center;
			display: inline-block;
			border: .2rem $grey-dark solid;
			transition: all ease .3s;

			&:hover {
				background: $grey-dark;
			}
		}
	}
}