.employees {

	&__item {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		display: flex;
		flex-direction: column;

		@include below (xs) {
			width: 100%;
		}

		@include between (xs, md) {
			width: 50%;
		}
	}

	&__img {

		&--empty {
			background: $grey-dark;
			color: $grey;
			text-align: center;
			height: 0;
			padding-bottom: percentage(24rem / 42.6rem);
			position: relative;
			font-size: 3.4rem;

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			@include above (sm) {
				font-size: 4.8rem;
			}
		}
	}

	&__content {
		background: $grey;
		padding: 1.5rem;
		flex: 1;

		@include above (sm) {
			padding: 3rem;
		}
	}

	&__name {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	&__position {
		font-style: italic;
	}

	&__link {
		color: $red;
	}
}