.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include above (sm) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	&__item {
		
		p {
			
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}

		i {
			line-height: 2.8;
			border-radius: 50%;
			width: 4.8rem;
			height: 4.8rem;
			text-align: center;
			display: inline-block;
			border: .2rem $red solid;
			transition: all ease .3s;
			color: $white!important;

			&:hover {
				background: $red;
			}
		}

		a + a {
			margin-left: .5rem;
		}

		@include between (sm, md) {
			width: 50%;
		}
	}
}
