.gallery {

	&__title {
		
	}

	&__list {
	
	}

	&__item {
		position: relative;
		margin: 1.5rem;

		@include between (xs, sm) {
			width: calc(50% - 3rem);
		}

		@include above (sm) {
			width: calc(25% - 3rem);
		}
	}

	&__link {
		display: flex;
		flex-direction: column;

		&:before {
			width: 100%;
			height: 100%;
			content: '';
			background: $black; 
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity .3s;
		}

		&:after {
			content: '\f067';
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			position: absolute;
			color: $red;
			font-size: 24px;
			z-index: 10;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity .3s;
		}

		&:hover {

			&:before {
				opacity: .6;
			}

			&:after {
				opacity: 1;
			}
		}
	}

	&__caption {

	}
}