.header {
	position: relative;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__container {
		position: relative;
	}

	&__logo {
		display: flex;
		float: left;

		img {
			width: 180px;
			height: 50px;

			@include above (md) {
				width: 210px;
				height: 58px;
			}
		}
	}
}