/* WYSIWYGs */
.wysiwygs {

  &__title {

  }

  &__col {

    h1, h2, h3, h4, h5, h6 {

      @include above (sm) {
        margin-top: 6rem;
      }
    }

    ul > li {
      padding-bottom: 1.5rem;

      &:last-child() {
        padding-bottom: 0rem;
      }
    }

    a:not(.btn) {
      color: $red;
    }
	
    @include above (sm) {

      &.first {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

        p:last-child {
          margin-bottom: 0;
        }
      }
   }
}

.bg {
  
  &--grey-dark {
    color: $white;

    h1, h2,
    h3, h4,
    h5, h6 {
      color: $white;
    }
  }
} 

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 10rem;
    }

    &--bottom {
      padding-bottom: 10rem;
    }

    &--both {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}