.link-boxes {
 
	&__header {

	}

	&__intro {

		a {
			color: $red;
		}
	}

	&__item {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		display: flex;
		flex-direction: column;

		@include above (sm) {
			margin-bottom: 3rem;
			margin-top: 3rem;
		}

		picture {
			display: flex;
		}

		&:hover {

			.link-boxes__btn {
				padding-left: 5rem;
				
				i {

					&:after {
						width: 2.5rem;
					}
				}
			}
		}
	}

	&__wrap {
		background: $grey;
		display: block;
		padding: 3rem 1.5rem;

		@include above (sm) {
			padding: 3rem;
		}
	}

	&__btn {
		transition: all ease .3s;
	}

	&__title {
		margin-top: 0;
	}
}