.nav {

	@include above (sm) {
		display: flex;
		padding-right: 3rem;
	}

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}

		&--sitemap {

			.nav__item {
				padding-left: 0;

				@include above (sm) {
					width: 33.3%;
				}

				@include above (md) {
					width: 25%;
				}
			}
		}

		&--desktop {
			display: none;

			@include above (sm) {
				display: block;
			}
		}

		&--mobile {
			display: block;

			@include above (sm) {
				display: none;
			}
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;

		@include above (sm) {
			float: left;
			padding: 1rem 1.5rem;
			display: inline-block;
		}

		&.is-active > a {
			color: $red;
		}

		&.is-dropdown {

			@include above (sm) {

				&:hover {

					.nav__dropdown {
						display: block!important;
					}
				}
			}
		}
	}


	&__link {
		color: $color-body;
		font-size: 14px;
		font-family: $font-headings;
		transition: all ease .3s;

		&.is-active {
			color: $red;
		}

		&:hover {
			color: $red;
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		top: 100%;
		background: $white;

		@include above (sm) {
			position: absolute;
		}

		&.is-visible {
			display: block;
		}

		&-trigger {

			@include below (sm) {
				pointer-events: none;
			}
		}

		li {
			float: none;
			display: block;
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		position: fixed;
		z-index: 78888;
		top: 80px;
		right: 0;
		height: calc(100% - 80px);
		width: 100%;
		transform: translateX(100%) translateZ(0);
		transition: all .6s cubic-bezier(.77,0,.175,1);
		background: $white;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		&.is-open {
			transform: translateX(0);
		}

		@include above (sm) {
			top: 110px;
			height: calc(100% - 110px);
		}

		@include above (md) {
			top: 118px;
			height: calc(100% - 118px);
		}

		// Set body to fixed
		@at-root {		
			body.is-fixed {
				overflow: hidden;
				position: fixed;
				width: 100%;
				height: 100%;
			}
		}
	}


	&--desktop {
		transition: all ease .6s;

		&.is-hidden {
			opacity: 0;
		}

		@include below (sm) {
			display: none;
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			right: 3rem;
		}

		&__label {
			color: $black;
			font-weight: 600;
			vertical-align: middle;
			padding-right: .3rem;

			@include above (sm) {
				display: none;
			}
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: 3px;
			background: $black;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.6rem;
			}

			&::after {
				top: -.6rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}