.pagination {
	margin-top: 1.5rem;

	&__pages {
		font-weight: 700;

		&.current {
			opacity: 1;
		}

		.dots {
			color: $color-body;
 			opacity: .5;
		}

		a {
 			color: $color-body;
 			opacity: .5;
 		}
	}

	&__nav {

		&.right {
			margin-left: 1rem;
		}

		&.left {
			margin-right: 1rem;
		}

		i {
			background: $gradient;
			color: $white;
			padding: .3rem .8rem;
			@include border-radius();
		}
	}
}