.page {
  
	&__hero {
		padding-top: 8rem;
		padding-bottom: 8rem;
		background: no-repeat center center;
		background-size: cover;
		@include bg-overlay(
			$opacity: .35
		);

		@include above (sm) {
			padding-top: 18rem;
			padding-bottom: 2rem;
			background-attachment: fixed;
		}
	}

	&__container {
		position: relative;
		z-index: 10;
	}  

	&__title {
		color: $white;

		@include below (sm) {
			margin-bottom: 0;
		}
	}

	&__breadcrumbs {
		color: $red;
		font-size: 14px;

		.breadcrumb_last {
			color: $red;
		}

		a {
			color: $white;
		}
	}

	&__col {

		h1, h2, h3, h4, h5, h6 {

			&:first-child() {
				margin-top: 0;
			}

			@include above (sm) {
				margin-top: 6rem;
			}
		}

		ul > li {
			padding-bottom: 1.5rem;

			&:last-child() {
				padding-bottom: 0rem;
			}
		}

		a:not(.btn) {
      		color: $red;
    	}
	}
}
