.price-tabel {

	&__row {
		margin: 0;
	}

	&__comparison, &__product {
		padding-left: 0;
		padding-right: 0;

		@include below (sm) {
			width: 50%;
			margin-bottom: 3rem;
		}
	}

	&__comparison {
		align-self: flex-end;

		@include below (sm) {
			position: sticky;
			top: 0;
		}

		.price-tabel__text {
			font-weight: 700;
		}
	}

	&__product {
		
		&:nth-child(3) {

			.price-tabel__title {
				background: $gradient-reverse;
			}
		}

		@include below (sm) {

			&:nth-child(3), &:nth-child(4) {
				margin-left: 50%;
			}
		}
	}

	&__title {
		margin: 0;
		color: $white;
		padding: 1.5rem;
		background: $gradient;
	}

	&__text {
		padding: 1.5rem;
		margin: 0;

		@include below (sm) {
			font-size: 15px;
		}

		&:nth-child(even) {
			background: $grey;
		}
	}
}