.references {

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		width: 50%;

		@include between (xs, md) {
			width: 50%;
		}

		@include above (md) {
			width: 20%;
		}
	}

	&__img {

	}
}