.search {

	&__form {
		display: flex;
	}

	&__input {
		border: none;
		padding: 1.2rem; 
		background: $grey;
		@include border-radius();
	}

	&__btn {
		background: $gradient;
		@include border-radius();
		color: $white;
		border: none;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		&:hover {
			cursor: pointer;
		}
	}
}