.sidebar {
	display: none;

	@include above (sm) {
		padding-bottom: 3rem;
		padding-left: 3rem;
		padding-right: 3rem;
		display: block;
		position: sticky;
		top: 5rem;
	}

	&__img {

		@include above (sm) {
			position: relative;
			width: calc(100% + 6rem);
			left: -3rem;
		}
	}

	&__title {
		margin-bottom: 1rem;
		margin-top: 3rem;
	}

	&__text {

		a {
			color: $white;
		}
	}

	&__related {
		margin-top: 1.5rem;
	}

	&__link {
		color: $white;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}

		&--light {
			font-weight: 400;
			
			i {

				&:after {
					transition: all ease .3s;
				}
			}

			&:hover {
				color: $white;
				padding-left: 5rem;
				
				i {

					&:after {
						width: 2.5rem;
					}
				}
			}
		}
    }
}