.single {

	&__post {

		h1, h2, h3, h4, h5, h6 {

			@include above (sm) {
				margin-top: 6rem;
			}
		}

		ul > li {
			padding-bottom: 1.5rem;

			&:last-child() {
				padding-bottom: 0rem;
			}
		}

		a:not(.single__icon) {
			color: $red; 
		}
	}

	&__meta {
		margin-bottom: 6rem;
	}

	&__avatar {
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		border: .1rem solid $red;
		margin-right: 1.5rem;
	}

	&__inner-wrap {
		font-size: 1.4rem;
	}

	&__icon {
		background: $gradient;
		color: $white;
		padding: .3rem .8rem;
		@include border-radius();
	}
}