.video {
	color: $white;
	position: relative;
	z-index: 2;
	overflow: hidden;

	&__wrap {
		position: relative;
		z-index: 1;
		background: no-repeat center center;
		background-size: cover;
		@include bg-overlay();
		height: 80vh;

		@include above (sm) {
			height: 80vh;
		}
	}

	&__video {
		width: 100%;
		position: absolute;
		z-index: -100;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;

		@include below (sm) {
			display: none;
		}

		&--full {
			display: none;
		}
	}

	&__container {
		position: relative;
		z-index: 10;
	}

	&__text {

		@include below (sm) {
			text-align: center;
			width: 100%;
		}
	}

	&__content {

		@include below (sm) {
			text-align: center;
			width: 100%;
			padding-top: 6rem;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 3rem;
		color: $white;
	}

	&__btn {
		color: white;
		margin: .5rem;
	}

	&__controls {
		color: $white;
		font-weight: 700;
		display: flex;
		align-items: center;

		span {
			margin-left: 1.5rem;
		}
	}

	&__play {

		svg {
			height: 8rem;
			width: auto;
		}
	}

	&__scroll {
		position: absolute;
		bottom: 1.5rem;
		text-transform: uppercase;
		font-size: 22px;
		z-index: 10;

		i {
			color: $white;
		}

		@include below (sm) {
			display: none !important;
		}
	}
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
#video-foreground, .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  #video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  #video-foreground { width: 300%; left: -100%; }
}