.video-references {

	&__item {
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;

		@include below (sm) {
			width: 100%;
		}

		@include between (sm, md) {
			width: 50%;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-clip: content-box;
		background-position: center;
		background-size: cover;
		overflow: hidden;
		@include border-radius();
		position: absolute !important;
		@include bg-overlay(
			$opacity: .2
		);

		&:hover {

			&:after {
				opacity: 0;
			}
		}
	}

	&__play {

		svg {
			height: 8rem;
			width: auto;
		}
	}
}
