@keyframes slide {
	0% {
		top: .5rem;
		opacity: 1;
	}

	50% {
		opacity: 1;	
	}

	100% {
		opacity: 0;
		top: 1.5rem;
	}
}

.fade-up {
	transition: all .7s ease-out;
	transform: translate3d(0px, 100px, 0px) translateZ(0);
	backface-visibility: hidden;
	opacity: 0;

	@include above (sm) {
		transform: translate3d(0px, 150px, 0px) translateZ(0);
	}
}

.fade-up.in-view {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px) translateZ(0);
}

