/* Color classes (modify as needed) */

$colors: "white" $white, "black" $black, "grey" $grey, "grey-dark" $grey-dark, "red" $red, "red-dark" $red-dark;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .bg--#{$label} {
    background-color: $value; 
  }
}
