// Embeds responsive

.embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  &__item > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  &--16-9 {
    padding-bottom: 56.25%;
    position: relative;
  }

  &--4-3 {
    padding-bottom: 75%;
    position: relative;
  }
}