/********************VARIABLES********************/

// Custom fonts example (modify as needed)
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('../fonts/HelveticaNeueBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Fonts
$font-body: 'HelveticaNeueLight', sans-serif; 
$font-body-light: 'HelveticaNeue', sans-serif; 
$font-headings: 'HelveticaNeueBold', sans-serif;

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 

/********* Colors *********/

$white: white;
$black: black;

$grey: #F2F2F2;
$grey-dark: #1D1D1D;

$red: #961917;
$red-dark: #722321;

$gradient: linear-gradient(90deg, $red 0%, $red-dark 100%);
$gradient-reset: linear-gradient(90deg, $red-dark 0%, $red-dark 100%);
$gradient-reverse: linear-gradient(90deg, $red-dark 0%, $red 100%);

// Set font colors
$color-body: $grey-dark;
$color-headings: $color-body;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1400px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 3rem

@include above (sm) {
  $grid-gutter-width:          6rem !default; // 6rem
}

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;